@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

.imgbox img{
    justify-content: center;
    align-items: center;
    border: .100vmin solid rgb(0, 0, 0);
    border-radius: 24px;
    padding: 0;
    cursor:pointer;
    background-color: transparent;
}

.body{
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    font-style: oblique;
    color: red;
    border: 100vh ;
    border-radius: 14px;
    font-weight: bolder;
}

.board{
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 48px;
    font-style: oblique;
    font-weight: bolder;
    color: rgb(17, 15, 153);
}

.hello {
    color: white;
    font-size: 50px;
    text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                 1px -1px 0 #000,
                -1px -1px 0 #000;

}

.name{
    font-size: 20px; font-family: 'Roboto', sans-serif;text-align: center;
}
.per{
    font-size: 19px; color:red; font-family: 'Roboto', sans-serif;text-align: center;
}
